body {
    background-color: blue;
	font-size: 16px;
	color: white;
}

h1 {
	background-color: maroon;
	font-size: 30px;
	font-family: Times New Roman;
	color: purple;
}

.people {
	background-color: lime;
	color: teal;
	font-size: 22 px;
}
